stacks/06-orchestration-stack.yaml
AWSTemplateFormatVersion: '2010-09-09'
Description: >
  OutageShield AI - Orchestration Stack
  Full incident investigation workflow with DynamoDB writes at each step.
  Includes human approval gate with waitForTaskToken pattern.
  Updated: Uses comprehensive workflow from incident-workflow.asl.json

Parameters:
  Environment:
    Type: String
    Default: dev
    AllowedValues: [dev, staging, prod]
    Description: Deployment environment

  RetentionDays:
    Type: Number
    Default: 14
    Description: CloudWatch log retention in days

Resources:

  # ─────────────────────────────────────────────────────────────────────────────
  # Workflow State Table (for dashboard updates)
  # ─────────────────────────────────────────────────────────────────────────────
  WorkflowStateTable:
    Type: AWS::DynamoDB::Table
    Properties:
      TableName: !Sub outageshield-workflow-state-${Environment}
      BillingMode: PAY_PER_REQUEST
      AttributeDefinitions:
        - AttributeName: workflow_id
          AttributeType: S
      KeySchema:
        - AttributeName: workflow_id
          KeyType: HASH
      SSESpecification:
        SSEEnabled: true
      TimeToLiveSpecification:
        AttributeName: ttl
        Enabled: true

  # ─────────────────────────────────────────────────────────────────────────────
  # Approval Lambda Role
  # ─────────────────────────────────────────────────────────────────────────────
  ApprovalLambdaRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub outageshield-approval-role-${Environment}
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      Policies:
        - PolicyName: ApprovalPolicy
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - dynamodb:PutItem
                  - dynamodb:GetItem
                  - dynamodb:UpdateItem
                Resource:
                  - !Sub arn:aws:dynamodb:${AWS::Region}:${AWS::AccountId}:table/outageshield-approvals-${Environment}
                  - !ImportValue
                    Fn::Sub: outageshield-storage-${Environment}-IncidentsTableArn
              - Effect: Allow
                Action:
                  - sns:Publish
                Resource:
                  - !ImportValue
                    Fn::Sub: outageshield-notifications-${Environment}-TopicArn

  # ─────────────────────────────────────────────────────────────────────────────
  # Approvals DynamoDB Table
  # ─────────────────────────────────────────────────────────────────────────────
  ApprovalsTable:
    Type: AWS::DynamoDB::Table
    Properties:
      TableName: !Sub outageshield-approvals-${Environment}
      BillingMode: PAY_PER_REQUEST
      AttributeDefinitions:
        - AttributeName: approval_id
          AttributeType: S
      KeySchema:
        - AttributeName: approval_id
          KeyType: HASH
      SSESpecification:
        SSEEnabled: true
      TimeToLiveSpecification:
        AttributeName: ttl
        Enabled: true

  # ─────────────────────────────────────────────────────────────────────────────
  # Approval Lambda Function
  # ─────────────────────────────────────────────────────────────────────────────
  ApprovalLambda:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub outageshield-approval-${Environment}
      Runtime: python3.12
      Handler: index.lambda_handler
      Role: !GetAtt ApprovalLambdaRole.Arn
      Timeout: 30
      MemorySize: 256
      TracingConfig:
        Mode: Active
      Environment:
        Variables:
          ENVIRONMENT: !Ref Environment
          APPROVALS_TABLE: !Ref ApprovalsTable
          INCIDENTS_TABLE: !ImportValue
            Fn::Sub: outageshield-storage-${Environment}-IncidentsTableName
          APPROVAL_TOPIC_ARN: !ImportValue
            Fn::Sub: outageshield-notifications-${Environment}-TopicArn
          DASHBOARD_URL: https://d2k1km1tzlio49.cloudfront.net
      Code:
        ZipFile: |
          import json
          import boto3
          import os
          from datetime import datetime, timezone, timedelta

          dynamodb = boto3.resource('dynamodb')
          sns = boto3.client('sns')

          APPROVALS_TABLE = os.environ.get('APPROVALS_TABLE', 'outageshield-approvals-dev')
          INCIDENTS_TABLE = os.environ.get('INCIDENTS_TABLE', 'outageshield-incidents-dev')
          APPROVAL_TOPIC_ARN = os.environ.get('APPROVAL_TOPIC_ARN', '')
          DASHBOARD_URL = os.environ.get('DASHBOARD_URL', 'https://d2k1km1tzlio49.cloudfront.net')

          def lambda_handler(event, context):
              """
              Invoked by Step Functions with waitForTaskToken.
              Stores task token and updates incident to "Awaiting Approval".
              Does NOT return - Step Functions waits for SendTaskSuccess/SendTaskFailure from dashboard API.
              """
              print(f"Received event: {json.dumps(event, default=str)}")
              
              task_token = event.get('task_token')
              incident_id = event.get('incident_id')
              service = event.get('service', 'unknown')
              severity_score = event.get('severity_score', 3)
              proposed_action = event.get('proposed_action', {})
              risk_level = event.get('risk_level', 'medium')
              workflow_id = event.get('workflow_id', '')

              if not task_token or not incident_id:
                  print("ERROR: Missing task_token or incident_id")
                  return

              # Use incident_id as approval_id for easy lookup from dashboard
              approval_id = incident_id

              # Store token in DynamoDB for later retrieval by dashboard API
              table = dynamodb.Table(APPROVALS_TABLE)
              action_str = json.dumps(proposed_action) if isinstance(proposed_action, dict) else str(proposed_action or '')
              risk_str = str(risk_level) if risk_level else 'medium'
              
              table.put_item(Item={
                  'approval_id': approval_id,
                  'incident_id': incident_id,
                  'task_token': task_token,
                  'service': service,
                  'severity_score': int(severity_score) if severity_score else 3,
                  'proposed_action': action_str,
                  'risk_level': risk_str,
                  'workflow_id': workflow_id,
                  'status': 'pending',
                  'created_at': datetime.now(timezone.utc).isoformat(),
                  'ttl': int((datetime.now(timezone.utc) + timedelta(days=7)).timestamp())
              })
              print(f"Stored task token for incident {incident_id}")

              # Update incident status to "Awaiting Approval"
              try:
                  incidents_table = dynamodb.Table(INCIDENTS_TABLE)
                  incidents_table.update_item(
                      Key={'incident_id': incident_id},
                      UpdateExpression='SET #s = :status, awaiting_approval_since = :ts, workflow_step = :ws',
                      ExpressionAttributeNames={'#s': 'status'},
                      ExpressionAttributeValues={
                          ':status': 'Awaiting Approval',
                          ':ts': datetime.now(timezone.utc).isoformat(),
                          ':ws': 'awaiting_approval'
                      }
                  )
                  print(f"Updated incident {incident_id} status to Awaiting Approval")
              except Exception as e:
                  print(f"Failed to update incident status: {e}")

              # Send approval request notification
              approve_url = f"{DASHBOARD_URL}/incidents/{incident_id}"
              action_desc = ''
              if isinstance(proposed_action, dict):
                  action_desc = proposed_action.get('description', proposed_action.get('action', str(proposed_action)))
              else:
                  action_desc = str(proposed_action) if proposed_action else 'Review recommended actions'

              message = f"REMEDIATION APPROVAL REQUIRED\n\nIncident: {incident_id}\nService: {service}\nSeverity: {severity_score}/5\nRisk Level: {risk_level}\n\nProposed Action:\n{action_desc}\n\nReview and approve in dashboard:\n{approve_url}\n\nThis workflow is PAUSED until you approve or reject."

              if APPROVAL_TOPIC_ARN:
                  try:
                      sns.publish(TopicArn=APPROVAL_TOPIC_ARN, Subject=f"[APPROVAL NEEDED] {service} - {incident_id}", Message=message)
                      print(f"Sent approval notification for {incident_id}")
                  except Exception as e:
                      print(f"Failed to send SNS notification: {e}")

              # DO NOT return a value to Step Functions — it waits for the callback
              print(f"Approval request created. ID: {approval_id}. Workflow paused until dashboard approval.")

  ApprovalLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub /aws/lambda/outageshield-approval-${Environment}
      RetentionInDays: !Ref RetentionDays

  # ─────────────────────────────────────────────────────────────────────────────
  # Step Functions Execution Role
  # ─────────────────────────────────────────────────────────────────────────────
  WorkflowExecutionRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub outageshield-workflow-role-${Environment}
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: states.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: WorkflowPolicy
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - lambda:InvokeFunction
                Resource:
                  - !ImportValue
                    Fn::Sub: outageshield-correlation-${Environment}-LambdaArn
                  - !ImportValue
                    Fn::Sub: outageshield-reasoning-${Environment}-RootCauseLambdaArn
                  - !ImportValue
                    Fn::Sub: outageshield-reasoning-${Environment}-RemediationLambdaArn
                  - !ImportValue
                    Fn::Sub: outageshield-reasoning-${Environment}-ScoringLambdaArn
                  - !ImportValue
                    Fn::Sub: outageshield-notifications-${Environment}-LambdaArn
                  - !ImportValue
                    Fn::Sub: outageshield-notifications-${Environment}-TicketLambdaArn
                  - !ImportValue
                    Fn::Sub: outageshield-reasoning-${Environment}-PostmortemLambdaArn
                  - !ImportValue
                    Fn::Sub: outageshield-remediation-${Environment}-ExecutorLambdaArn
                  - !ImportValue
                    Fn::Sub: outageshield-bedrock-agent-${Environment}-InvokerLambdaArn
                  - !ImportValue
                    Fn::Sub: outageshield-reasoning-${Environment}-SummaryLambdaArn
                  - !GetAtt ApprovalLambda.Arn
              - Effect: Allow
                Action:
                  - dynamodb:PutItem
                  - dynamodb:UpdateItem
                  - dynamodb:GetItem
                Resource:
                  - !ImportValue
                    Fn::Sub: outageshield-storage-${Environment}-IncidentsTableArn
                  - !GetAtt WorkflowStateTable.Arn
                  - !ImportValue
                    Fn::Sub: outageshield-storage-${Environment}-RejectionMemoriesTableArn
              - Effect: Allow
                Action:
                  - xray:PutTraceSegments
                  - xray:PutTelemetryRecords
                  - xray:GetSamplingRules
                  - xray:GetSamplingTargets
                Resource: '*'

  # ─────────────────────────────────────────────────────────────────────────────
  # Full Incident Investigation State Machine
  # Uses comprehensive workflow with dashboard updates, escalation, and approval gates
  # ─────────────────────────────────────────────────────────────────────────────
  IncidentWorkflowStateMachine:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      StateMachineName: !Sub outageshield-workflow-${Environment}
      RoleArn: !GetAtt WorkflowExecutionRole.Arn
      TracingConfiguration:
        Enabled: true
      DefinitionString:
        Fn::Sub:
          - |
            {
              "Comment": "OutageShield AI - Full Incident Investigation Workflow with Dashboard Updates and Human Approval",
              "StartAt": "InitializeIncident",
              "States": {
                "InitializeIncident": {
                  "Type": "Task",
                  "Comment": "Create incident record in DynamoDB, set status to investigating",
                  "Resource": "arn:aws:states:::dynamodb:putItem",
                  "Parameters": {
                    "TableName": "${IncidentsTable}",
                    "Item": {
                      "incident_id": {"S.$": "$.signal.signal_id"},
                      "service": {"S.$": "$.signal.service"},
                      "severity_score": {"N.$": "States.Format('{}', $.signal.severity_score)"},
                      "status": {"S": "investigating"},
                      "created_at": {"S.$": "$$.State.EnteredTime"},
                      "workflow_id": {"S.$": "$$.Execution.Id"}
                    }
                  },
                  "ResultPath": "$.init_result",
                  "Next": "CorrelateContext"
                },

                "CorrelateContext": {
                  "Type": "Task",
                  "Comment": "Build Incident Context from deployments, config changes, past incidents, logs, traces",
                  "Resource": "${CorrelationArn}",
                  "TimeoutSeconds": 120,
                  "Retry": [{"ErrorEquals": ["States.TaskFailed", "States.Timeout"], "IntervalSeconds": 5, "MaxAttempts": 2}],
                  "Catch": [{"ErrorEquals": ["States.ALL"], "Next": "HandleCorrelationFailure", "ResultPath": "$.error"}],
                  "ResultPath": "$.step1",
                  "Next": "UpdateDashboard_Correlation"
                },

                "HandleCorrelationFailure": {
                  "Type": "Pass",
                  "Result": {"step": "correlation", "status": "failed", "incident_context": {"unavailable_sources": ["all"]}},
                  "ResultPath": "$.step1",
                  "Next": "UpdateDashboard_Correlation"
                },

                "UpdateDashboard_Correlation": {
                  "Type": "Task",
                  "Resource": "arn:aws:states:::dynamodb:updateItem",
                  "Parameters": {
                    "TableName": "${WorkflowStateTable}",
                    "Key": {"workflow_id": {"S.$": "$$.Execution.Id"}},
                    "UpdateExpression": "SET current_step = :step, correlation_completed_at = :ts",
                    "ExpressionAttributeValues": {":step": {"S": "scoring"}, ":ts": {"S.$": "$$.State.EnteredTime"}}
                  },
                  "ResultPath": "$.dashboard_update",
                  "Next": "ScoreIncident"
                },
                "ScoreIncident": {
                  "Type": "Task",
                  "Comment": "Calculate Severity (1-5) and Business Impact (1-10)",
                  "Resource": "${ScoringArn}",
                  "TimeoutSeconds": 60,
                  "Retry": [{"ErrorEquals": ["States.ALL"], "IntervalSeconds": 10, "MaxAttempts": 5, "BackoffRate": 2.0}],
                  "Catch": [{"ErrorEquals": ["States.ALL"], "Next": "HandleScoringFailure", "ResultPath": "$.error"}],
                  "ResultPath": "$.step2",
                  "Next": "CheckEscalation"
                },

                "HandleScoringFailure": {
                  "Type": "Pass",
                  "Result": {"step": "scoring", "status": "failed", "severity_score": 3, "business_impact_score": 5},
                  "ResultPath": "$.step2",
                  "Next": "CheckEscalation"
                },

                "CheckEscalation": {
                  "Type": "Choice",
                  "Comment": "If severity >= 4, send escalation alert before continuing",
                  "Choices": [{"Variable": "$.step2.severity_score", "NumericGreaterThanEquals": 4, "Next": "SendEscalationAlert"}],
                  "Default": "AnalyzeRootCause"
                },

                "SendEscalationAlert": {
                  "Type": "Task",
                  "Resource": "${NotificationArn}",
                  "Parameters": {
                    "type": "escalation",
                    "severity_score.$": "$.step2.severity_score",
                    "business_impact_score.$": "$.step2.business_impact_score",
                    "service.$": "$.signal.service",
                    "incident_id.$": "$.signal.signal_id"
                  },
                  "TimeoutSeconds": 30,
                  "Retry": [{"ErrorEquals": ["States.ALL"], "IntervalSeconds": 5, "MaxAttempts": 2}],
                  "Catch": [{"ErrorEquals": ["States.ALL"], "Next": "AnalyzeRootCause", "ResultPath": "$.escalation_error"}],
                  "ResultPath": "$.escalation_result",
                  "Next": "AnalyzeRootCause"
                },

                "AnalyzeRootCause": {
                  "Type": "Task",
                  "Comment": "Bedrock root-cause analysis — ranked causes with confidence scores",
                  "Resource": "${RootCauseArn}",
                  "TimeoutSeconds": 120,
                  "Retry": [{"ErrorEquals": ["States.ALL"], "IntervalSeconds": 10, "MaxAttempts": 5, "BackoffRate": 2.0}],
                  "Catch": [{"ErrorEquals": ["States.ALL"], "Next": "HandleRCAFailure", "ResultPath": "$.error"}],
                  "ResultPath": "$.step3",
                  "Next": "AgentInvestigation"
                },

                "HandleRCAFailure": {
                  "Type": "Pass",
                  "Result": {"step": "root_cause_analysis", "status": "failed", "root_causes": []},
                  "ResultPath": "$.step3",
                  "Next": "AgentInvestigation"
                },

                "AgentInvestigation": {
                  "Type": "Task",
                  "Comment": "Bedrock Agent Deep Investigation: searches past incidents, logs, runbooks, deployments",
                  "Resource": "${AgentInvokerArn}",
                  "TimeoutSeconds": 120,
                  "Retry": [{"ErrorEquals": ["States.ALL"], "IntervalSeconds": 10, "MaxAttempts": 2}],
                  "Catch": [{"ErrorEquals": ["States.ALL"], "Next": "RecommendRemediation", "ResultPath": "$.agent_error"}],
                  "ResultPath": "$.step3b",
                  "Next": "RecommendRemediation"
                },

                "RecommendRemediation": {
                  "Type": "Task",
                  "Comment": "Generate 1-5 ranked remediation recommendations",
                  "Resource": "${RemediationArn}",
                  "TimeoutSeconds": 120,
                  "Retry": [{"ErrorEquals": ["States.ALL"], "IntervalSeconds": 10, "MaxAttempts": 5, "BackoffRate": 2.0}],
                  "Catch": [{"ErrorEquals": ["States.ALL"], "Next": "HandleRemediationFailure", "ResultPath": "$.error"}],
                  "ResultPath": "$.step4",
                  "Next": "GenerateSummary"
                },

                "HandleRemediationFailure": {
                  "Type": "Pass",
                  "Result": {"step": "remediation_recommendation", "status": "failed", "recommendations": []},
                  "ResultPath": "$.step4",
                  "Next": "GenerateSummary"
                },

                "GenerateSummary": {
                  "Type": "Task",
                  "Comment": "Generate AI-powered summary with best remediation suggestion",
                  "Resource": "${SummaryArn}",
                  "TimeoutSeconds": 90,
                  "Retry": [{"ErrorEquals": ["States.ALL"], "IntervalSeconds": 5, "MaxAttempts": 2}],
                  "Catch": [{"ErrorEquals": ["States.ALL"], "Next": "WaitForHumanApproval", "ResultPath": "$.summary_error"}],
                  "ResultPath": "$.step4b",
                  "Next": "WaitForHumanApproval"
                },

                "WaitForHumanApproval": {
                  "Type": "Task",
                  "Comment": "HUMAN GATE: Pauses workflow until approver responds",
                  "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken",
                  "Parameters": {
                    "FunctionName": "${ApprovalArn}",
                    "Payload": {
                      "task_token.$": "$$.Task.Token",
                      "incident_id.$": "$.signal.signal_id",
                      "service.$": "$.signal.service",
                      "severity_score.$": "$.step2.severity_score",
                      "proposed_action.$": "$.step4.recommendations[0]",
                      "risk_level.$": "$.step4.recommendations[0].risk",
                      "workflow_id.$": "$$.Execution.Id"
                    }
                  },
                  "ResultPath": "$.approval_response",
                  "Catch": [
                    {"ErrorEquals": ["ApprovalRejected"], "Next": "ApprovalRejected", "ResultPath": "$.approval_error"},
                    {"ErrorEquals": ["States.ALL"], "Next": "ApprovalRejected", "ResultPath": "$.approval_error"}
                  ],
                  "Next": "ExecuteRemediation"
                },

                "ExecuteRemediation": {
                  "Type": "Task",
                  "Comment": "Execute the approved remediation action via Systems Manager",
                  "Resource": "${RemediationExecutorArn}",
                  "Parameters": {
                    "incident_id.$": "$.signal.signal_id",
                    "action.$": "$.step4.recommendations[0]",
                    "service.$": "$.signal.service"
                  },
                  "TimeoutSeconds": 300,
                  "Retry": [{"ErrorEquals": ["States.TaskFailed"], "IntervalSeconds": 10, "MaxAttempts": 1}],
                  "Catch": [{"ErrorEquals": ["States.ALL"], "Next": "HandleExecutionFailure", "ResultPath": "$.execution_error"}],
                  "ResultPath": "$.step6",
                  "Next": "CreateTicket"
                },

                "HandleExecutionFailure": {
                  "Type": "Pass",
                  "Result": {"execution_status": "failed"},
                  "ResultPath": "$.step6",
                  "Next": "CreateTicket"
                },

                "ApprovalRejected": {
                  "Type": "Task",
                  "Comment": "Save rejection to memories table for learning",
                  "Resource": "arn:aws:states:::dynamodb:putItem",
                  "Parameters": {
                    "TableName": "${RejectionMemoriesTable}",
                    "Item": {
                      "rejection_id": {"S.$": "$.signal.signal_id"},
                      "incident_id": {"S.$": "$.signal.signal_id"},
                      "service": {"S.$": "$.signal.service"},
                      "rejected_at": {"S.$": "$$.State.EnteredTime"},
                      "severity_score": {"N.$": "States.Format('{}', $.step2.severity_score)"},
                      "root_cause": {"S.$": "$.step3.root_causes[0].description"},
                      "proposed_action": {"S.$": "$.step4.recommendations[0].description"},
                      "rejection_reason": {"S": "Remediation rejected by approver"},
                      "workflow_id": {"S.$": "$$.Execution.Id"}
                    }
                  },
                  "ResultPath": "$.rejection_memory",
                  "Next": "UpdateIncidentRejected"
                },

                "UpdateIncidentRejected": {
                  "Type": "Task",
                  "Comment": "Update incident status to rejected",
                  "Resource": "arn:aws:states:::dynamodb:updateItem",
                  "Parameters": {
                    "TableName": "${IncidentsTable}",
                    "Key": {
                      "incident_id": {"S.$": "$.signal.signal_id"}
                    },
                    "UpdateExpression": "SET #s = :status, rejected_at = :ts, workflow_status = :ws",
                    "ExpressionAttributeNames": {
                      "#s": "status"
                    },
                    "ExpressionAttributeValues": {
                      ":status": {"S": "rejected"},
                      ":ts": {"S.$": "$$.State.EnteredTime"},
                      ":ws": {"S": "rejected"}
                    }
                  },
                  "ResultPath": "$.incident_update",
                  "End": true
                },

                "CreateTicket": {
                  "Type": "Task",
                  "Comment": "Create ticket in Jira/PagerDuty",
                  "Resource": "${TicketArn}",
                  "TimeoutSeconds": 60,
                  "Retry": [{"ErrorEquals": ["States.ALL"], "IntervalSeconds": 10, "MaxAttempts": 3}],
                  "Catch": [{"ErrorEquals": ["States.ALL"], "Next": "NotifyTeam", "ResultPath": "$.ticket_error"}],
                  "ResultPath": "$.step7",
                  "Next": "NotifyTeam"
                },

                "NotifyTeam": {
                  "Type": "Task",
                  "Comment": "Send incident alert via SNS",
                  "Resource": "${NotificationArn}",
                  "Parameters": {
                    "type": "alert",
                    "service.$": "$.signal.service",
                    "incident_id.$": "$.signal.signal_id",
                    "severity_score.$": "$.step2.severity_score",
                    "timestamp.$": "$.signal.timestamp",
                    "signal.$": "$.signal",
                    "step2.$": "$.step2",
                    "step3.$": "$.step3",
                    "step7.$": "$.step7"
                  },
                  "TimeoutSeconds": 30,
                  "Retry": [{"ErrorEquals": ["States.ALL"], "IntervalSeconds": 5, "MaxAttempts": 3}],
                  "Catch": [{"ErrorEquals": ["States.ALL"], "Next": "GeneratePostmortem", "ResultPath": "$.notify_error"}],
                  "ResultPath": "$.step8",
                  "Next": "GeneratePostmortem"
                },

                "GeneratePostmortem": {
                  "Type": "Task",
                  "Comment": "Generate AI postmortem using all previous step data",
                  "Resource": "${PostmortemArn}",
                  "TimeoutSeconds": 120,
                  "Retry": [{"ErrorEquals": ["States.ALL"], "IntervalSeconds": 10, "MaxAttempts": 5, "BackoffRate": 2.0}],
                  "Catch": [{"ErrorEquals": ["States.ALL"], "Next": "WorkflowComplete", "ResultPath": "$.postmortem_error"}],
                  "ResultPath": "$.step9",
                  "Next": "WorkflowComplete"
                },

                "WorkflowComplete": {
                  "Type": "Task",
                  "Comment": "Update incident status to mitigating",
                  "Resource": "arn:aws:states:::dynamodb:updateItem",
                  "Parameters": {
                    "TableName": "${IncidentsTable}",
                    "Key": {"incident_id": {"S.$": "$.signal.signal_id"}},
                    "UpdateExpression": "SET #s = :status, workflow_status = :ws, completed_at = :ts",
                    "ExpressionAttributeNames": {"#s": "status"},
                    "ExpressionAttributeValues": {":status": {"S": "mitigating"}, ":ws": {"S": "completed"}, ":ts": {"S.$": "$$.State.EnteredTime"}}
                  },
                  "ResultPath": "$.final_update",
                  "End": true
                }
              }
            }
          - IncidentsTable: !ImportValue
              Fn::Sub: outageshield-storage-${Environment}-IncidentsTableName
            WorkflowStateTable: !Ref WorkflowStateTable
            CorrelationArn: !ImportValue
              Fn::Sub: outageshield-correlation-${Environment}-LambdaArn
            ScoringArn: !ImportValue
              Fn::Sub: outageshield-reasoning-${Environment}-ScoringLambdaArn
            RootCauseArn: !ImportValue
              Fn::Sub: outageshield-reasoning-${Environment}-RootCauseLambdaArn
            AgentInvokerArn: !ImportValue
              Fn::Sub: outageshield-bedrock-agent-${Environment}-InvokerLambdaArn
            RemediationArn: !ImportValue
              Fn::Sub: outageshield-reasoning-${Environment}-RemediationLambdaArn
            SummaryArn: !ImportValue
              Fn::Sub: outageshield-reasoning-${Environment}-SummaryLambdaArn
            RemediationExecutorArn: !ImportValue
              Fn::Sub: outageshield-remediation-${Environment}-ExecutorLambdaArn
            ApprovalArn: !GetAtt ApprovalLambda.Arn
            TicketArn: !ImportValue
              Fn::Sub: outageshield-notifications-${Environment}-TicketLambdaArn
            NotificationArn: !ImportValue
              Fn::Sub: outageshield-notifications-${Environment}-LambdaArn
            PostmortemArn: !ImportValue
              Fn::Sub: outageshield-reasoning-${Environment}-PostmortemLambdaArn
            RejectionMemoriesTable: !ImportValue
              Fn::Sub: outageshield-storage-${Environment}-RejectionMemoriesTableName

Outputs:
  StateMachineArn:
    Description: Incident Workflow State Machine ARN
    Value: !GetAtt IncidentWorkflowStateMachine.Arn
    Export:
      Name: !Sub outageshield-orchestration-${Environment}-StateMachineArn

  WorkflowStateTableArn:
    Description: Workflow State Table ARN
    Value: !GetAtt WorkflowStateTable.Arn
    Export:
      Name: !Sub outageshield-orchestration-${Environment}-WorkflowStateTableArn

  ApprovalsTableArn:
    Description: Approvals Table ARN
    Value: !GetAtt ApprovalsTable.Arn
    Export:
      Name: !Sub outageshield-orchestration-${Environment}-ApprovalsTableArn

  ApprovalLambdaArn:
    Description: Approval Lambda ARN
    Value: !GetAtt ApprovalLambda.Arn
    Export:
      Name: !Sub outageshield-orchestration-${Environment}-ApprovalLambdaArn
